.setup {
  position: relative;
  height: 100%;
  width: 100%;
}

.setup__content {
  display: flex;
  height: calc(100% - 28px);
}

.setup__middle {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 0;
}
